# Ignore all.
*

# Don't ignore files in subfolders.
!*/
!.gitignore

# Don't ignore config files and folders two layers deep. 
!config/**
!config/*/**
!OrcaSlicer/**
!OrcaSlicer/*/**
!resonance/**
!resonance/*/**

# But actually ignore these.
config/_my_setup_vars.cfg
OrcaSlicer/*/TODO/*
