[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

# [include generic-bigtreetech-xxx.cfg]
[include _trident-manta-m8p-v2.0.cfg]

[include _bigtreetech-ebb-sb-rp2040-canbus-v1.0.cfg]

# [include _sttts-stealthburner-leds.cfg]

[include _dance-monkey.cfg]


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769