
# https://docs.vorondesign.com/community/howto/EricZimmerman/SlicerAndPrintStart.html
# https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/print_base/print_start.cfg
# https://github.com/jontek2/A-better-print_start-macro


[gcode_macro G32] # Custom, home all axis.
gcode:
    RESPOND MSG="G32: Homeing XYZ..."
    G28
    RESPOND MSG="G32: Z Tilt..."
    Z_TILT_ADJUST
    RESPOND MSG="G32: Homeing Z again..."
    G28 Z
    ##	Uncomment for 300 build
    # G0 X150 Y150 Z30 F3600 # Unnecessary home to middle. 
   
[gcode_macro PRINT_START]
variable_skip_wipe: False
# variable_skip_calibrate: False
gcode:    
    ## Slicer gcode
    # M104 S0 ; Stops PS/SS from sending temp waits separately
    # M140 S0
    # PRINT_START BED=[first_layer_bed_temperature] EXTRUDER={first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} CHAMBER=[chamber_temperature] SIZE={first_layer_print_min[0]}_{first_layer_print_min[1]}_{first_layer_print_max[0]}_{first_layer_print_max[1]} MATERIAL={filament_type}

    # Parameters (from Orca)
    {% set BED_TEMP = params.BED|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|float %}
    {% set CHAMBER_TEMP = params.CHAMBER|default(0)|float %}
    {% set _SKIP_WIPE = skip_wipe %}
    # {% set _SKIP_CALIBRATE = skip_calibrate %}

    BED_MESH_CLEAR

    RESPOND MSG="PRINT_START: Heating started..."
    M140 S{BED_TEMP} # Start heating bed.
    M104 S140 # Start heating extruder.

    # Initial home
    RESPOND MSG="PRINT_START: Home..."
    G28

    {% if _SKIP_WIPE == False %}
        # Move nozzle to a good place for cleaning.
        RESPOND MSG="PRINT_START: Preparing for wipe..."
        G1 X150 Y20 Z75 # Front center for now. 
        # Heat extruder to temp so it can be wiped.
        M109 S{EXTRUDER_TEMP}
        G1 E-1.5 F3600 # Retract filament a bit for less oozing. 
        # TODO
        # wipe
        # wait 1 min
        RESPOND MSG="PRINT_START: Waiting for manual wipe..."
        G4 P20000
        M104 S140 # Start cooling off
        G4 P20000
        # wipe
        # Set extruder to 140deg for level.
        RESPOND MSG="PRINT_START: Extruder to 140 for calibration..."
        M104 S140 # Turn hotend back to 140
        DISABLE_SKIP_WIPE
    {% else %}
        RESPOND MSG="PRINT_START: Skipping wipe"
    {% endif %} # SKIP_WIPE

    RESPOND MSG="PRINT_START: Waiting bed temp..."
    M190 S{BED_TEMP}            ; set and wait for bed to reach temp

    {% if CHAMBER_TEMP > 0 %}
        # Times in 13° garage
        # Top 40°: ~10 min. 
        # Toolhead 50°: 20 min.
        # Bottom barely 20° at 20 min. 
        RESPOND MSG="PRINT_START: Waiting for chamber temp {CHAMBER_TEMP}..."
        # TEMPERATURE_WAIT SENSOR="temperature_sensor chamber_toolhead" MINIMUM={CHAMBER_TEMP}   
        {% if BED_TEMP >= 100 %}  # It's ABS or other high-temp plastic.
            RESPOND MSG="PRINT_START: Starting nevermore for circulation..."
            M106 S205 # Turn on part fan to 80% for air circulation. 
            SET_FAN_SPEED FAN=nevermore SPEED=0.2 # Turn on Nevermore fans a bit for some air circulation. 
        {% endif %}
        TEMPERATURE_WAIT SENSOR="temperature_sensor temp_chamber_top" MINIMUM={CHAMBER_TEMP} 
        SET_FAN_SPEED FAN=nevermore SPEED=0 # No need to run nevermore until print start. 
    {% else %}
        RESPOND MSG="PRINT_START: Waiting for min chamber temp 20°..."
        TEMPERATURE_WAIT SENSOR="temperature_sensor temp_chamber_top" MINIMUM=20 
    {% endif %}

    RESPOND MSG="PRINT_START: Waiting for hotend to get to 140 for calibration..."
    M109 S140 # Turn hotend back to 140

    # {% if _SKIP_CALIBRATE == False %}
    # G32                            ; home all axes
    RESPOND MSG="PRINT_START: Z tilt..."
    Z_TILT_ADJUST
    RESPOND MSG="PRINT_START: Homeing Z again..."
    G28 Z
    RESPOND MSG="PRINT_START: Bed mesh calibration..."
    BED_MESH_CALIBRATE ADAPTIVE=1
    # DISABLE_SKIP_CALIBRATE
    # {% else %}
    #     RESPOND MSG="PRINT_START: Skipping calibrate"
    # {% endif %} # SKIP_CALIBRATE
    G1 Z20 F3000                   ; move nozzle away from bed

    # Move near purge line for heating. 
    G1 X20 Y20 F5000.0

    RESPOND MSG="Warming extruder..."
    # TODO wipe again here. 
    M109 S{EXTRUDER_TEMP}       ; set and wait for hot end to reach temp

    ENABLE_FILAMENT_SENSORS

    {% if BED_TEMP >= 100 %} # It's ABS or other high-temp plastic.
        RESPOND MSG="PRINT_START: Starting nevermore for filtering..."
        SET_FAN_SPEED FAN=nevermore SPEED=1 # Turn on Nevermore for filtration. 
    {% endif %}

    PURGE_LINE

    RESPOND MSG="End PRINT_START"

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    RESPOND MSG="PRINT_END: Waiting.."
    M400                           ; wait for buffer to clear

    {% set BED_TEMP = printer['heater_bed'].temperature|default(0)|float %}
 
    DISABLE_FILAMENT_SENSORS
    
    RESPOND MSG="PRINT_END: Reset state..."
    G92 E0                         ; zero the extruder
    {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
        G1 E-0.8 F3600            ; retract filament (15mm was too much, caused block in hotend)
    {% endif %}
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    RESPOND MSG="PRINT_END: Turn off heaters..."
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    MOVE_Z_IF_POSSIBLE MOVE_AMOUNT=50
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR # Avoid accidentally saving with save_config. 
    
    {% if BED_TEMP >= 100 %} # It's ABS or other high-temp plastic.
        # Keep the filter running for 10 minutes. 
        RESPOND MSG="PRINT_START: Running nevermore for 10 more minutes after printing..."
        SET_FAN_SPEED FAN=nevermore SPEED=1 
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 9 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 8 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 7 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 6 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 5 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 4 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 3 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 2 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Running nevermore for 1 more minutes after printing..."
        G4 P60000
        RESPOND MSG="PRINT_START: Filtering done."
        SET_FAN_SPEED FAN=nevermore SPEED=0.0
        # TODO: start exhaust fan to flush air. 
    {% endif %}
    SET_FAN_SPEED FAN=nevermore SPEED=0.0

    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
    RESPOND MSG="PRINT_END: Finished."


[gcode_macro LIST_PRINT_START_SETTINGS]
gcode:
    M118 skip_wipe: {printer["gcode_macro PRINT_START"].skip_wipe}
    M118 skip_calibrate: {printer["gcode_macro PRINT_START"].skip_calibrate}

[gcode_macro ENABLE_SKIP_WIPE]
gcode:
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=skip_wipe VALUE=True

[gcode_macro DISABLE_SKIP_WIPE]
gcode:
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=skip_wipe VALUE=False

# [gcode_macro ENABLE_SKIP_CALIBRATE]
# gcode:
#     SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=skip_calibrate VALUE=True

# [gcode_macro DISABLE_SKIP_CALIBRATE]
# gcode:
#     SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=skip_calibrate VALUE=False
