# https://forum.vorondesign.com/threads/differing-nozzle-sizes.925/
[gcode_macro SET_MATERIAL]
# description: SET_MATERIAL MATERIAL=[filament_type] FILAMENT="[filament_settings_id]" NOZZLE=[nozzle_diameter]
variable_material_presets: {
    # Z offset settings settings
    # Relateive to value set in printer.cfg
    # Pos for less squish, negative for more.
    ###
    '0.4': { 
      'ASA': -0.0,
      'ABS': -0.0,
      'PLA': -0.0,
      'DEFAULT': -0.0,
    },
    '0.25': {
      'PLA': -0.0, 
      'ABS': -0.0,
      'DEFAULT': -0.0,
    }
  }
# {
#     '0.4': {
#         'ASA':  { 'pa': 0.030, 'z': 0.225, 'em': 96  },
#         'ASA PRUSAMENT':  { 'pa': 0.020, 'em': 95  },
#         'ASA FIBERLOGY':  { 'pa': 0.018, 'em': 95  },
#         'ASA ROSA':       { 'pa': 0.035, 'em': 100  },

#         # 'PETG': { 'pa': 0.050, 'z':  0.020, 'em': 100 },

#         'PLA':  { 'pa': 0.040, 'z':  0.000, 'em': 100 },
#         'PLA ROSA':  { 'pa': 0.020, 'em': 96 }
#     }
# }
gcode:
    {% set NOZZLE = params.NOZZLE | default('0.4') | lower %}
    {% set MATERIAL = params.MATERIAL | default('DEFAULT') | upper %}
    # {% set filament = params.FILAMENT | default('DEFAULT') | upper %}

    RESPOND MSG="SET_MATERIAL: Setting defaults for material: {MATERIAL}, nozzle: {NOZZLE}"
    {% set presets = printer["gcode_macro SET_MATERIAL"].material_presets %}
    {% if NOZZLE not in presets %}
      RESPOND MSG="SET_MATERIAL: {NOZZLE} missing, using '0.4'"
    {% endif %}
    {% set nozzle_presets = presets.get(NOZZLE, presets['0.4']) %}
    {% if MATERIAL not in nozzle_presets %}
      RESPOND MSG="SET_MATERIAL: {MATERIAL} missing in {NOZZLE}, using 'DEFAULT'"
    {% endif %}
    {% set z_offset = nozzle_presets.get(MATERIAL, nozzle_presets['DEFAULT']) %}
     # Setting up z-offset per material for now, letting filament_settings in orca do the rest (for now).
    # {% set z_offset = printer["gcode_macro SET_MATERIAL"].material_presets[NOZZLE][MATERIAL] %}
    RESPOND MSG="Z-Offset: {z_offset}"

    # Note(2025-07-26): For some reason, even Z=... causes a relative change compared to what is in printer.cfg
    SET_GCODE_OFFSET Z={z_offset} MOVE=1

    ## Original sample code
    # {% set z_offset = printer["gcode_macro SET_MATERIAL"].presets[nozzle][material]['z'] %}
    # {% set pressure_advance = printer["gcode_macro SET_MATERIAL"].presets[nozzle][filament]['pa'] %}  
    # {% set extrusion_multiplier = printer["gcode_macro SET_MATERIAL"].presets[nozzle][filament]['em'] %}
   
    # SET_PRESSURE_ADVANCE ADVANCE={pressure_advance}  
    # SET_GCODE_OFFSET Z={z_offset}  
    # RESPOND PREFIX="//" MSG="z_offset: {z_offset}"
    # M221 S{extrusion_multiplier}
    # RESPOND PREFIX="//" MSG="extrusion_multiplier: {extrusion_multiplier/100}"

###
# LOG
###
#
# 2025-12-19: [-1.485]
#
# 2025-12-19:[-1.655] Seems like everything ends up the same, nozzle / material independant? 
# '0.4': { 
#   'ASA': -0.190,
#   'ABS': -0.190, # 2025-11-26: ABS seems to be the same as PLA was, after switching nozzle.
#   'PLA': -0.190, # 2025-09-21 - 0.4 - (9-20) rebuild
#   # 'PLA': 0.000, # 2025-08-11: After rebuild - 0.4
#   'DEFAULT': -0.190,
# },
# '0.25': {
#   'PLA': -0.190, # 2025-09-21 - 0.25 - rebuilt toolhead (09-20) to check for gear mashing
#   'ABS': -0.175, # 2025-12-17 - 0.25
#   'DEFAULT': -0.190,
# }
#
# 2025-08-11: TODO: Same as PLA after rebuild? -1.545
# 'PLA': 0.055, # 2025-07-25: Rel to -1.760
# 'ASA': -1.760, # 2025-07-25
# 'ABS': -1.760, # 2025-07-25
# 'PLA': -1.815, # 2025-07-25: ABS (+) 0.055 (less squish)
# 'DEFAULT': -1.760
#
# 2025-07-27
# 'ASA': 0.02, 
# 'ABS': 0.02, # 2025-07-27
# 'ASA': 0.075, # test
# 'ABS': 0.075, # test
#
# 2025-07-25: relative to -1.760
# 'ASA': 0.0, 
# 'ABS': 0.0,
#
### Rel: -1.545
### Rel: -1.655 - 2025-09-19
# 'PLA': 0.015, # 2025-09-19 - 0.25
